<div class="m-auto w-full max-w-sm my-8">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold m-auto leading-loose text-left text-grey-700 py-4 lowercase">edit <%= resource_name.to_s.humanize %>.</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-4">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="mb-4">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"new password.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"confirm password.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"current password.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="actions">
        <%= f.submit "Update", class: "rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 p-2 px-6 my-3 w-40 text-slate-50" %>
      </div>
    <% end %>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "rounded-lg bg-gradient-to-r from-red-500 to-pink-500 p-2 px-6 my-3  text-slate-50" %></p>
  </div>
</div>
