<div class="m-auto w-full max-w-sm my-8">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold m-auto leading-loose text-left text-grey-700 py-4">sign up.</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {"data-turbo": "false"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-4">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"name.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.email_field :email, autocomplete: "email", placeholder:"email.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.text_area :bio, placeholder:"something about you.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4 text-gray-700">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder:"password.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="mb-4">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"confirm password.", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex items-center justify-between">
        <%= f.submit "Sign up", class: "rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 p-2 px-6 my-3 w-40 text-slate-50" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
