<%= link_to user_post_path(@user.id, post.id), class: "flex flex-col  rounded-lg border justify-between pt-2 pl-3 pr-3 leading-normal min-w-full m-2 hover:bg-gray-100" do %>
  <h2 class="mb-3 font-bold text-gray-700">#<%= post.id %>.</h2>
  <p class="mb-3 font-normal text-gray-700"><%= post.text[0..120]%><%= post.text.length > 121? "..." : ''%></p>
  <p class="mb-3 font-normal text-gray-700">Comments: <%= post.comments_counter %>  Likes: <%= post.likes_counter %></p>
<%end%>
